@import url("responsive.css");

a{
    text-decoration: none;
    color:inherit;
    transition: 0.4s;
}
a:hover {
    color:#858d96;
    
  }
ul{
    padding:0;
}
li {
    list-style-type: none;
}
/*
    HEADER
*/

header h2{
    padding:10px 0;
}

div.collapse {
    justify-content:flex-end;
}

/*
    Footer
*/

.footer {
    color: #fff;
}
.footer,
.about,
.links,
.write {
    padding-top: 20px;
}
.footer input,
textarea {
    width: 100%;
}
.footer input {
    margin-bottom: 10px;
}
/*
    Sidebar
*/

.sidebar{
    color:#fff;
    min-height: 500px;
}
.sidebar ul a{
    padding:18px;
    display:block;
    border-bottom: 1px solid #fff;
}
.sidebar ul li a:hover {
    padding-left: 10px;
    transition:all 0.3s;
}
.posts{
    padding-left:3em;
}
.posts .table-title {
    font-weight: 700;
    border-bottom: 1px solid rgb(34, 34, 34);
    padding:15px;
    
}
.posts .post div{
    
    border-bottom: 1px solid rgb(34, 34, 34);
    padding:10px;
    text-align: left;
}
.del,.red{
    min-width: 80px;
    font-weight:500;
}

.posts h2 {
    text-align: center;
    margin: 1.5rem 0;
}
.manage{
    text-align: left;
}

/* 
    Topic Form
*/

.error {
    color:red;
    font-family: 'Comfortaa', cursive;
}
/*
    Buttons
*/
.edit{
    color:green;
}
.del{
    color:red;
}
/*
 Errors Pages
*/
.error-page {
    height: 500px;
}
