
@media only screen and (min-width: 576px) {
    .topics .card img{
        min-height:155px;
        max-height:155px;
    }
  }
  @media only screen and (min-width: 992px) {
    .topics .card img{
        min-height:207px;
        max-height:207px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .topics .card img{
        min-height:290px;
        max-height:290px;
    }
   
  }