@import url("responsive.css");

a {
    text-decoration: none;
    color: inherit;
    transition: 0.4s;
}
a:hover {
    color: #858d96;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
/*
    HEADER
*/

header h2 {
    padding: 10px 0;
}

div.collapse {
    justify-content: flex-end;
}

/*
    Top Themen
*/
.topics h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #27292b;
}

/*
    Beiträge
*/

.post {
    margin-bottom: 10px;
}

/*
    Sidebar
*/

.sidebar ul {
    padding: 0;
}
.sidebar input {
    width: 170px;
    height: 40px;
    margin-bottom: 10px;
}
.sidebar .send .search-button {
    width: 170px;
    height: 40px;
    margin-bottom: 10px;
}
.sidebar ul li a {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #858d96;
    font-weight: 500;
    font-size: 1.2em;
}
.sidebar ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

/*
    Footer
*/

.footer {
    color: #fff;
}
.footer,
.about,
.links,
.write {
    padding-top: 20px;
}
.footer input,
textarea {
    width: 100%;
}
.footer input {
    margin-bottom: 10px;
}

/*
    FORMS
*/
.error {
    color: red;
    font-family: "Comfortaa", cursive;
}
.registered {
    font-family: "Comfortaa", cursive;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #0d301c;
}

/*
    Pagination
*/
.main-content.Page a {
    color: #27292b;
}

/*
    Kommentare
*/

.all-comments {
    padding-top: 3rem;
}
.all-comments .one-comment {
    padding: 1rem;
    border: 1px solid #000;
    margin-bottom: 1rem;
}
.all-comments .one-comment span {
    display: inline-flex;
    margin: 1.5rem 1.5rem 1.5rem 0;
}
.all-comments .one-comment span i {
    font-weight: 900;
}

/*
    Fitness Checker
*/
.diagramm {
    position: relative;
}
.diagramm img.img {
    padding-top: 5rem;
    max-height: 380px;
}
.diagramm img.indicator {
    max-height: 20px;
    position: absolute;
    top: 320px;
    left: 62px;
}
.fitness {
    max-width: 300px;
}
.error {
    color: red;
}

/*
    img bei den Posten
*/
.main-content .single-post .content img {
    max-height: 300px;
    max-width: 700px;
}
.main-content .single-post .content i {
    margin: 5px 5px;
}

/*
 Errors Pages
*/
div.row.error-page {
    height: 30rem;
    align-items: center;
    justify-content: center;
}
div.row.error-page h1 {
    text-align: center;
}
